body {
	background: #F9F9F9;
}
.title { 
	text-align: center; 
	background: #111;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3C3C3C), color-stop(100%, #111));
	background: -webkit-linear-gradient( #3C3C3C,#111 ); 
	background: linear-gradient(#3C3C3C, #111); 
	font-size: 16px; 
	font-weight: bold;
	color: white;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
}
ul.listview {
	list-style: none;
	font-size: 16px;
	margin-bottom: 0;
}
ul.listview .listviewdivider {
	border: 1px solid #456F9A;
	background: #497BAE;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6FACD5), color-stop(100%, #497BAE));
	background: linear-gradient(#6FACD5, #497BAE);
	background: -webkit-linear-gradient(#6FACD5, #497BAE);
	color: white;
	font-weight: bold;
	padding: 0.25em 0.7em;
}
ul.listview li a {
	padding: 0.7em;
	padding-right: 30px;
	font-weight: bold;
	color: black;
	display: block;
	border-bottom: 1px solid #ccc;
	background: #E0E0E0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F6F6F6), color-stop(100%, #E0E0E0));
	background: url('/public/images/glyphicons/glyphicons_223_thin_right_arrow.png'), -webkit-linear-gradient(#F6F6F6, #E0E0E0);
	background: url('/public/images/glyphicons/glyphicons_223_thin_right_arrow.png'), linear-gradient(#F6F6F6,#E0E0E0);
	background-position: 99%;
	background-repeat: no-repeat;
}
.content {
	padding: 0.7em;
	text-align: justify;
}